


<h1>genre_search</h1>
<div class="row">
  <div class="col-lg-2">
	<div class="border">ジャンル検索</div>
    <div class="border">
      <% @genres.each do |genre| %>
      <% if genre.is_active == "effectiveness" %>
      <div>
  	    <%= link_to genre.name, public_products_genre_search_path(genre) %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-10">
	<h2>ジャンル一覧</h2><h4>全<%= @genre.@product_count %>件</h4>
		<% @genre.@products.each do |product| %>
    <% if product.genre.is_active == "effectiveness" %>
  		  <%= attachment_image_tag product, :image, size: '150x100' %>
  		  <%= link_to product.name, public_product_path(product.id) %>
        <%= number_to_currency(product.non_taxed_price.to_i * 1.1, unit: "￥", strip_insignificant_zeros: true) %>
      <% if product.is_active == "sold_out" %>
        <span>売り切れ</span>
      <% end %>
	 <% end %>
   <% end %>
  </div>
</div>