<h1>Public::Products#index</h1>
<p>Find me in app/views/public/products/index.html.erb</p>


<div class="row">
  <div class="col-lg-2">
	<div class="border">ジャンル検索</div>
    <div class="border">
      <% @genres.each do |genre| %>
      <% if genre.is_active == "effectiveness" %>
      <div>
  	    <%= genre.name %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-10">
	<h2>商品一覧</h2><h4>全<%= @product_count %>件</h4>
		<% @products.each do |product| %>
    <% if product.genre.is_active == "effectiveness" %>
  		  <%= attachment_image_tag product, :image, size: '150x100' %>
  		  <%= link_to product.name, public_product_path(product.id) %>
        <%= number_to_currency(product.non_taxed_price.to_i * 1.1, unit: "￥", strip_insignificant_zeros: true) %>
      <% if product.is_active == "sold_out" %>
        <span>売り切れ</span>
      <% end %>
	 <% end %>
   <% end %>
  </div>
</div>