<h1>Public::Products#show</h1>
<p>Find me in app/views/public/products/show.html.erb</p>


<h2>ジャンル検索</h2>

<%= attachment_image_tag @product, :image, size: '150x100' %>
<%= @product.name %>
<%= @product.caption %>
<p>¥<%= @product.non_taxed_price %>（税込）</p>
<%= form_for(@cart_product, url: public_cart_products_path, method: :post) do |f| %>
  <%= f.select :count, [*1..10], include_blank: "個数を選択してください" %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.submit "カートに入れる", class:"btn btn-primary" %>
<% end %>

