<h1>Public::ShippingAddresses#index</h1>
<p>Find me in app/views/public/shipping_addresses/index.html.erb</p>

<h1>配送先登録/一覧</h1>
<%= form_for(@shipping_address, url: public_shipping_addresses_path, method: :post) do |f| %>
	<span>郵便番号(ハイフンなし)</span>
	<%= f.text_field :postal_code %><br>
	<span>住所</span>
	<%= f.text_field :address %><br>
	<span>宛名</span>
	<%= f.text_field :addressee %>
	<%= f.submit "登録する", class:"btn btn-success" %>
<% end %>

<table>
	<thead>
		<tr>
			<th>郵便番号</th>
			<th>住所</th>
			<th>宛名</th>
		</tr>
	</thead>
	<tbody>
		<% @shipping_addresses.each do |shipping_address| %>
		<tr>
			<td><%= shipping_address.postal_code %></td>
			<td><%= shipping_address.address %></td>
			<td><%= shipping_address.addressee %></td>
			<td>
				<%= link_to "編集する", edit_public_shipping_address_path(shipping_address), class:"btn btn-success" %>
				<%= link_to "削除する", public_shipping_address_path(shipping_address), method: :delete, class:"btn btn-danger" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

