<h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>

<font size="5" class="p-3 mb-2 bg-warning text-dark ">注文情報入力</font>


<%= form_with model: @order, url: public_orders_comfirm_path, method: :post, local: true do |f| %>

  <h3>支払方法</h3><br>
    <%= f.radio_button :method_of_payment, :クレジットカード, checked: "checked" %>
      <%= f.label :クレジットカード %><br>
    <%= f.radio_button :method_of_payment, :銀行振込 %>
      <%= f.label :銀行振込 %><br>


  <h3>お届け先</h3><br>
    <%= radio_button_tag :select, "1", checked: "checked" %>
      <%= f.label :ご自身の住所 %><br>

    <%= radio_button_tag :select, "2"%>
      <%= f.label :登録済住所から選択 %><br>
      <%= f.collection_select :shipping_address_id, ShippingAddress.all, :id, :address_info %><br>

    <%= radio_button_tag :select, "3"%>
      <%= f.label :新しいお届け先 %><br>
      <p>郵便番号（ハイフンなし）
        <%= f.text_field :postal_code, :size => "30*30" %></p>
      <p>住所<span style=”margin-right: 32px;”></span>
        <%= f.text_field :address, :size => "30*30" %></p>
      <p>宛名<span style=”margin-right: 32px;”></span>
        <%= f.text_field :name, :size => "30*30" %></p>

      <p class="text-center"><%= f.submit "確認画面へ進む", class:"btn btn-primary" %></p>
<% end %>