<h1>Admins::Products#edit</h1>
<p>Find me in app/views/admins/products/edit.html.erb</p>


<h1>商品編集</h1>

<%= attachment_image_tag @product, :image, size: '100x100' %>

<%= form_for(@product, url: admins_product_path, method: :patch) do |f| %>
  <p><%= f.attachment_field :image %></p>
  <p>
  	<span>商品名</span>
  　<%= f.text_field :name %>
　</p>
  <p>
	<span>商品説明</span>
	<%= f.text_area :caption %>
  </p>
  <p>
  	<span>ジャンル</span>
  	<%= f.text_field :genre_id %>
  </p>
  <p>
  	<span>税抜価格</span>
  	<%= f.text_field :non_taxed_price %>
  </p>
  <%= f.submit "変更を保存", class:"btn btn-primary" %>


<% end %>