<h1>Admins::Orders#show</h1>
<p>Find me in app/views/admins/orders/show.html.erb</p>

<h1>注文履歴詳細</h1>

<p>
	<span>購入者</span>
	<%= @order.customer.first_name %><%= @order.customer.last_name %>
</p>

<p>
	<span>配送先</span>
	<%= @order.postal_code %><%= @order.address %></br>
	<%= @order.name %>
</p>

<p>
	<span>支払方法</span>
	<%= @order.method_of_payment %>
</p>

<p>注文ステータス</p>
<%= form_for(@order, url: admins_order_path(@order), method: :patch) do |f| %>
  <%= hidden_field_tag :select_value, "1" %>
  <%= f.select :order_status, Order.order_statuses_i18n.invert %>
  <%= f.submit "更新" %>
<% end %>

<table>
	<thead>
		<% @order_products.each do |order_product| %>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= order_product.product.name %></td>
			<td><%= order_product.price_on_purchase * 1.1.to_i %></td>
			<td><%= order_product.count %></td>
			<td><%= order_product.price_on_purchase * order_product.count * 1.1.to_i %></td>
			<td>
                <%= form_with model: order_product, url: admins_order_path(order_product), method: :patch, local: true do |f| %>
                  <%= hidden_field_tag :select_value, "2" %>
                  <%= hidden_field_tag :product_id, order_product.product_id %>
				  <%= f.select :production_status, OrderProduct.production_statuses_i18n.keys.map {|k| [I18n.t("enums.order_product.production_status.#{k}"), k]} %>
                  <%= f.submit "更新", class:"btn btn-primary" %>
                <% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>





