<h1>Admins::Orders#show</h1>
<p>Find me in app/views/admins/orders/show.html.erb</p>

<h1>注文履歴詳細</h1>

<p>
	<span>購入者</span>
	<%= @order.name %>
</p>

<p>
	<span>配送先</span>
	<%= @order.postal_code %><%= @order.address %></br>
	<%= @order.name %>
</p>

<p>
	<span>支払方法</span>
	<%= @order.method_of_payment %>
</p>

<p>注文ステータス</p>
<%= form_for(@order, url: admins_order_path(@order), method: :patch) do |f| %>
  <%= f.select :order_status, Order.order_statuses_i18n.invert %>



  <%= f.submit "更新" %>
<% end %>





