<!DOCTYPE html>
<html>
  <head>
    <title>DwcRailsAppTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    /* マップを表示する div 要素の高さを必ず明示的に指定します。 */
    #map {
      height: 400px;
      width: 600px;
    }
    </style>
  </head>

  <body>
    <header class="navbar navbar-fixed-top" style="background-color: #CC9999; height: 70px;">
      <div class="container">

        <% if admin_signed_in? %>
        <%= link_to "LOGØ", admins_top_path, id: "logo", :style=>"font-size:30px;" %>
       　 <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "商品一覧", admins_products_path %></li>
            <li><%= link_to "会員一覧", admins_customers_path %></li>
            <li><%= link_to "注文履歴一覧", admins_orders_path %></li>
            <li><%= link_to "ジャンル一覧", admins_genres_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <%= form_tag(admins_products_path, :method => 'get' ) do %>
              <%= text_field_tag :search %>
              <%= submit_tag 'Search', :name => nil %>
            <% end %>
          </ul>

        <% elsif customer_signed_in? %>
        <%= link_to "LOGØ", root_path, id: "logo", :style=>"font-size:30px;" %>
          <ul class="nav navbar-nav navbar-right">
            <li>ようこそ、<%= current_customer.first_name %><%= current_customer.last_name %>さん！</li>
            <li><%= link_to "マイページ", public_customers_my_page_path %></li>
            <li><%= link_to "商品一覧", public_products_path %></li>
            <li><%= link_to "カート", public_cart_products_path %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          </ul>

        <% else  %>
        <%= link_to "LOGØ", root_path, id: "logo", :style=>"font-size:30px;" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "商品一覧", public_products_path %></li>
            <li><%= link_to "新規登録", new_customer_registration_path %></li>
            <li><%= link_to "ログイン", customer_session_path %></li>
          </ul>

        <% end %>
        </ul>
      </div>
    </header>

    <div class="container body">
      <%= yield %>
    </div>

  </body>
</html>
